.mdc-card {
  min-height: 300px;
  min-width: 300px;
  max-width: 50%;
  max-height: 50%;
}
.drawer-frame-app-content {
  height: 100%;
}
.mdc-card__media-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mdc-card__action-buttons {
  position: relative;
  top: 28px;
  width: 100%;
  justify-content: space-evenly;
}
.mdc-card__primary-action {
  height: inherit;
}
