/*
* Custom Styles
*/
$mdc-theme-primary: #f13f3f;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;
@import "normalize";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/fab/mdc-fab";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/animation/variables";
@import "@material/animation/functions";
@import "variables";
@import "custommdc";

html {
  height: 100%;
}
body,
html {
  font-family: $fontFamily;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-weight: 400;
  text-transform: false;
  color: rgba(0, 0, 0, 0.87);
}
body {
  height: 100vh;
  background: $bodyBackground;
}
.drawer-main-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: $bodyBackground;
}
//Utilities
.text-center {
  text-align: center;
}
.items-center {
  justify-content: center;
}

.list-button {
  cursor: pointer;
  width: 100%;
}
.list-collapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
